doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  body
    #nav-wrapper
      nav.width-control.flex
        div.nav-left
          h1 
            a(href="/")  UnderFlow 

        div.nav-right.flex
          .actions.flex 
            a(href="/ask") ask a question 
            a(href='/questions') view all questions
          a(href="/logout") Logout 
          div.profile.flex
            a(href="/profile")= profileName
            img(src= profilePicture, alt="")
    .width-control
      block content

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 
  script(src="/javascripts/index.js")